# .bashrc

# User specific aliases and functions

alias rm='rm -i'
alias cp='cp -i'
alias mv='mv -i'

# Source global definitions
if [ -f /etc/bashrc ]; then
        . /etc/bashrc
fi

# bash prompt
START="\[\033"
BLUE="$START[01;34m\]"
RED="$START[01;31m\]"
GREEN="$START[01;32m\]"
END="$START[00m\]"

set_bash_prompt() {
  PS1="$BLUE[$(date '+%H:%M:%S')] $RED{\u@\h} $GREEN\w$END\n\$ "
}

PROMPT_COMMAND=set_bash_prompt